version: "3.9"

services:
  web:
    build: .
    container_name: web
    working_dir: /app/core
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    ports:
      - "8000:8000"
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app

  db:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: celery
    working_dir: /app/core
    command: >
      sh -c "celery -A core worker --loglevel=info"
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - web
      - redis
      - db
    volumes:
      - .:/app

  celery-beat:
    build: .
    container_name: celery-beat
    working_dir: /app/core
    command: >
      sh -c "celery -A core beat --loglevel=info"
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - web
      - redis
      - db
    volumes:
      - .:/app

volumes:
  postgres_data:
