#version: "3.9"

services:
  web:
    build: .
    container_name: web
    working_dir: /app/core
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60
      "
    expose:
      - "8000"
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - static_volume:/app/core/staticfiles/
      - media_volume:/app/core/media

  db:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  celery:
    build: .
    container_name: celery
    working_dir: /app/core
    restart: always
    command: >
      sh -c "celery -A core worker --loglevel=info"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - web
      - redis
      - db
    volumes:
      - .:/app

  celery-beat:
    build: .
    container_name: celery-beat
    working_dir: /app/core
    restart: always
    command: >
      sh -c "celery -A core beat --loglevel=info"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - web
      - redis
      - db
    volumes:
      - .:/app

  nginx:
    image: nginx
    container_name: nginx
    restart: always
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/core/staticfiles/
      - media_volume:/app/core/media
    ports:
      - "80:80"
    depends_on:
      - redis
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:

